<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PurchaseOrderMapper">
    
    <resultMap type="PurchaseOrder" id="PurchaseOrderResult">
        <result property="id"    column="id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="supplierId"    column="supplier_id"    />
        <result property="productType"    column="product_type"    />
        <result property="productSpec"    column="product_spec"    />
        <result property="totalQuantity"    column="total_quantity"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="status"    column="status"    />
        <result property="purchaseTime"    column="purchase_time"    />
        <result property="operator"    column="operator"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPurchaseOrderVo">
        select id, order_no, supplier_id, product_type, product_spec, total_quantity, total_amount, status, purchase_time, operator, remark, create_time, update_time from purchase_order
    </sql>

    <select id="selectPurchaseOrderList" parameterType="PurchaseOrder" resultMap="PurchaseOrderResult">
        <include refid="selectPurchaseOrderVo"/>
        <where>  
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="supplierId != null "> and supplier_id = #{supplierId}</if>
            <if test="productType != null  and productType != ''"> and product_type = #{productType}</if>
            <if test="productSpec != null  and productSpec != ''"> and product_spec = #{productSpec}</if>
            <if test="totalQuantity != null "> and total_quantity = #{totalQuantity}</if>
            <if test="totalAmount != null "> and total_amount = #{totalAmount}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="purchaseTime != null "> and purchase_time = #{purchaseTime}</if>
            <if test="operator != null  and operator != ''"> and operator = #{operator}</if>
        </where>
    </select>
    
    <select id="selectPurchaseOrderById" parameterType="Long" resultMap="PurchaseOrderResult">
        <include refid="selectPurchaseOrderVo"/>
        where id = #{id}
    </select>

    <insert id="insertPurchaseOrder" parameterType="PurchaseOrder" useGeneratedKeys="true" keyProperty="id">
        insert into purchase_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no,</if>
            <if test="supplierId != null">supplier_id,</if>
            <if test="productType != null">product_type,</if>
            <if test="productSpec != null">product_spec,</if>
            <if test="totalQuantity != null">total_quantity,</if>
            <if test="totalAmount != null">total_amount,</if>
            <if test="status != null">status,</if>
            <if test="purchaseTime != null">purchase_time,</if>
            <if test="operator != null">operator,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
            <if test="supplierId != null">#{supplierId},</if>
            <if test="productType != null">#{productType},</if>
            <if test="productSpec != null">#{productSpec},</if>
            <if test="totalQuantity != null">#{totalQuantity},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="status != null">#{status},</if>
            <if test="purchaseTime != null">#{purchaseTime},</if>
            <if test="operator != null">#{operator},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePurchaseOrder" parameterType="PurchaseOrder">
        update purchase_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
            <if test="supplierId != null">supplier_id = #{supplierId},</if>
            <if test="productType != null">product_type = #{productType},</if>
            <if test="productSpec != null">product_spec = #{productSpec},</if>
            <if test="totalQuantity != null">total_quantity = #{totalQuantity},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="purchaseTime != null">purchase_time = #{purchaseTime},</if>
            <if test="operator != null">operator = #{operator},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePurchaseOrderById" parameterType="Long">
        delete from purchase_order where id = #{id}
    </delete>

    <delete id="deletePurchaseOrderByIds" parameterType="String">
        delete from purchase_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>